body {
  font-family: "Roboto", sans-serif;
  background-color: aqua;
}
footer {
  font-size: 25px;
}
h1 {
  text-align: center;
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
ul {
  font-size: 19px;
  margin: auto;
}
.imagine-profil {
  width: 75px;
  border-radius: 50%;
}
.bullet {
  width: 10px;
  height: 10px;
}
#list-icons {
  width: 27px;
  height: 27px;
}
#mail-icon {
  width: 25px;
  height: 25px;
}
